* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#chat-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 5em;
  bottom: 5em;
  height: 22em;
  width: 17em;
  background-color: #253d5b;
  color: #e7ecef;
}
#chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0em;
  position: relative;
  background-color: #33547c;
}

#messages-container {
  overflow-y: scroll;
}
.message {
  margin: 0.5em 0.2em;
  padding: 0.5em;
  border-radius: 1em;
}
.message-image {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
.message-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5em;
}
.moderator {
  background-color: #33547c;
}
.user {
  background-color: #446da0;
}
#input-container {
  margin-top: 1em;
  width: 100%;
  display: flex;
}
#text-input {
  width: 85%;
  resize: none;
}
#send-btn {
  width: 15%;
  height: 100%;
}
#minimize-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 2.2em;
  width: 2.2em;
  background-color: transparent;
  border: none;
}
#minimize-btn i {
  color: black;
  font-size: 9px;
}
#chat-title {
  font-size: 1.3em;
}
#maximize-btn {
}
.hiden {
  display: none;
}
