/*costumize*/
.c-container{
    width:100%;
    background-color: #0A1E25;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .header-costumize{
    flex: 0.5;
    width:60%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .txt{
    font-size: 1.5em;
    text-align: center;
    color: #BFE1ED;
  }
  .form-costumize{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    flex: 2.5;
    align-items: center;
    justify-content: center;
  }
  .box{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    flex: 0.3;
    align-items: center;
    justify-content: center;

  }
  select{
    box-shadow:0 5px 12px black;
    padding:0.5em 4em;
    background-color: #BFE1ED;
}
.reg-costumize{
    font-size: 1.1em;
    text-align: center;
    color: #9db9c5;
    
}
.custom-container{
    font-size: 1em;
    text-align: start;
    padding: 0.5em 0.5em;
    color: #BFE1ED;
}
.label-costumize{
    width:80%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    flex: 0.3;
    align-items: flex-start;
    justify-content: center;
    border: none;
    border-radius: 0.4em;
  }
  .select-btn{
    padding: 1em;
    width: 50%;
    border:solid;
    border-radius: 0.4em;
    border-color: #BFE1ED ;
    background-color: transparent;
    color: #BFE1ED;
  }

  .input-costumize{
    height: 3em;
    width: 70%;
    margin:1.5em 0;
    background-color: #BFE1ED;
    padding: 0.5em;
    border: none;
    border-radius: 0.4em;
  }
  .button-customize{
    padding: 1em;
    width: 50%;
    border:solid;
    border-radius: 0.4em;
    border-color: #BFE1ED ;
    background-color: transparent;
    color: #BFE1ED;
  }
  @media screen and (max-width:700px){
    .reg-costumize,.custom-container{
        font-size: 1em;
    }
    .txt{
        font-size: 1.1em;
    }
    .header-costumize,.form-costumize{
        width:80%;
    }
    footer{
       align-items: center;
    }
  }
  @media screen and (max-width:600px){
    .reg-costumize,.custom-container{
        font-size: 0.9em;
    }
    .txt{
        font-size: 1em;
    }
   
  }
  @media screen and (max-width:500px){
  
    .header-costumize,.form-costumize{
        margin:0;
        width:100%;
  
    }
    .reg-costumize,.custom-container{
        font-size: 0.8em;
    }
    .txt{
        font-size: 0.9em;
    }
  }

  /*costumize*/
